@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
    --font-JetBrains: "JetBrains Mono", monospace;
}



/* 
--russian-violet: #10002bff;
--russian-violet-2: #240046ff;
--persian-indigo: #3c096cff;
--tekhelet: #5a189aff;
--french-violet: #7b2cbfff;
--amethyst: #9d4eddff;
--heliotrope: #c77dffff;
--mauve: #e0aaffff; 
*/



